body {
    display: grid;
    grid-template-columns: 4.5rem minmax(auto, min-content) 1fr minmax(auto, min-content);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
            "header header header header"
            "toolbar menu main sidebar"
            "footer footer footer footer";
}

#app-main {
    grid-area: main;
}
#app-header {
    grid-area: header;
}
#menu {
    grid-area: menu;
}
#toolbar {
    grid-area: toolbar;
}
#sidebar {
    grid-area: sidebar;
}
#app-footer {
    grid-area: footer;
}
